html {
    box-sizing: border-box;
}
  
*, 
*::before, 
*::after {
    box-sizing: inherit;
}
  
a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: bottom;
    width: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #111;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reg-form__inner {
    display: flex;
}

.reg-form__titlebox {
    width: 138px;
    background-color: #5a61ed;
    position: relative; 
}

.reg-form__title {
    position: absolute;
    font-family: 'PT Sans', sans-serif;
    font-size: 49px;
    line-height: 63px;
    letter-spacing: 0.5px;
    color: #fff;
    bottom: 22.5px;
    transform: rotate(270deg);
    width: max-content;
    bottom: 70px;
    right: -45px;
}

.reg-form__wrapper {
    padding: 40px 20px 33px;
    background-color: #fff;
    background-image: url("../images/noun.svg");
    background-position: 220px 128px;
    background-repeat: no-repeat;
}

.reg-form__text {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.46px;
}

.reg-form__subtext {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
}

.reg-form__line {
    display: flex;
    margin-bottom: 16px;
}

.reg-form__box {
    width: 235px;
}

.reg-form__box + .reg-form__box {
    margin-left: 13px;
}

.reg-form__label {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #7c7c7c;
    padding-bottom: 5px;
    display: block;
}

.reg-form__input {
    font-size: 14px;
    line-height: 16px;
    width: 235px;
    height: 22px;
    border: none;
    border-bottom: 1px solid #f2f2f2;
    outline: none;
    background-color: transparent;
}

.reg-form__select {
    display: block;
    width: 235px;
    height: 22px;
    border: none;
    border-bottom: 1px solid #f2f2f2;
    outline: none;
    font-size: 14px;
    line-height: 16px;
    color: #111;
    padding-bottom: 4px;
    background-color: transparent;
}

.reg-form__select-box {
    width: 235px;
    display: flex;
    justify-content: space-between;
}

.day-select {
    width: 56px;
}

.month-select {
    width: 91px;
}

.year-select {
    width: 68px;
}

.reg-form__radio-box {
    display: flex;
    align-items: center;
}

.reg-form__radio {
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

.reg-form__label-radio {
    margin-right: 19px;
}

.reg-form__label-radio {
    font-size: 14px;
    line-height: 16px;
}

#reppass,
#pass {
    font-size: 25px;
    line-height: 25px;
}

.last-line {
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 0;
}

.reg-form__login {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #000;
}

.reg-form__login a {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #5a61ed;
}

.reg-form__btn {
    border: none;
    width: 154px;
    height: 32px;
    background-color: #5a61ed;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
}


@media (max-width: 700px) {
    .reg-form__wrapper {
        padding: 30px 20px 30px;
        background-position: 60px 200px;
    }
    
    .reg-form__line {
        display: block;
        margin-bottom: 16px;
    }

    .reg-form__box {
        margin-bottom: 8px;
    }

    .reg-form__box + .reg-form__box {
        margin-left: 0;
    }
    .last-line {
        margin-top: 40px;
        margin-bottom: 0;
    }
    .reg-form__login {
        margin-bottom: 8px;
    }
}

@media (max-width: 510px) {
    .reg-form__wrapper {
        padding: 30px 15px 30px;
    }
    .reg-form__titlebox {
        width: 60px;
    }
    .reg-form__title {
        font-size: 30px;
        line-height: 40px;
        bottom: 50px;
        right: -17px;
    }
}